// Typography
// -----------------------------------------------------------------------------

$font-family-sans-serif:
  system-ui,
  -apple-system,
  "Segoe UI",
  roboto,
  "Helvetica Neue",
  "Noto Sans",
  "Liberation Sans",
  arial,
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol",
  "Noto Color Emoji" !default;
$font-family-monospace: sfmono-regular, menlo, monaco, consolas,
  "Liberation Mono", "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif !default;
$font-family-code: $font-family-monospace !default;
